<h1>Docs#index</h1>
<p>Find me in app/views/docs/index.html.erb</p>

<% @docs.each do |d| %>
  <div class="card">
    <div class="card-header">
      <%= link_to d.title, doc_path(d) %>
    </div>
    <div class="card-block">
      <p class="card-text"><%= d.content %></p>
    </div>
  </div>
  <hr>
<% end %> 

<%= link_to "Add Document", new_doc_path %>